@import '../../assets/styles/colors.scss';

.badge{
    background-color: $secondary;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

@media screen and (max-width: 500px) {
    .badge{
        border-radius: 10px;
    }    
}