@import "../../assets/styles/colors.scss";


.list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 35px;
}

.list::-webkit-scrollbar {
    display: none;
  }