@import "../../assets/styles/colors.scss";

.alert{
    width: 100vw;
    height: 15vh;
    background-color: $primary;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        font-weight: bold;
        color: $white;
        font-size: 1.4em;
    }
}