@import '../../assets/styles/colors.scss';

.modal{
    height: 100vh;
    width: 30vw;
    background-color: $white;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.103);
}