@import '../../assets/styles/colors.scss';

.modal{
    height: 100vh;
    width: 35%;
    background-color: $white;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.103);
    transition: 2s ease;
    transform: translateX(100%);
}

.active{
    transform: translateX(0%);
    transition: 2s ease;
}

@media screen and (max-width: 700px) {
    .modal{
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .modal{
        height: 100vh;
        width: 100%;
        background-color: $white;
        position: fixed;
        top: 0;
        transition: 2s ease;
        right: 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.103);
        transform: translateX(100%);
        transition: 2s ease;
    }
    
    .active{
        transform: translateX(0%);
    }
    
}