

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 85%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.w-40{
    width: 40%;
}

.d-flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.h-full{
    height: 100%;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.ml-3{
    margin-left: 30px;
}

.ml-2{
    margin-left: 20px;
}

.ml-1{
    margin-left: 10px;
}



.mt-3{
    margin-top: 30px;
}

.mt-2{
    margin-top: 20px;
}

.mt-1{
    margin-top: 10px;
}