

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 85%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.w-40{
    width: 40%;
}

.d-flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.h-full{
    height: 100%;
}

.wrap{
    flex-wrap: wrap;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
}

.ml-3{
    margin-left: 30px;
}

.ml-2{
    margin-left: 20px;
}

.ml-1{
    margin-left: 10px;
}

.mr-3{
    margin-right: 30px;
}

.mr-2{
    margin-right: 20px;
}

.mr-1{
    margin-right: 10px;
}


.mt-3{
    margin-top: 30px;
}

.mt-2{
    margin-top: 20px;
}

.mt-1{
    margin-top: 10px;
}

.primary{
    background-color: $primary !important;
}

.green{
    background-color: rgb(18, 179, 98) !important;
}

.pointer{
    cursor: pointer;
}

.opacity-25{
    opacity: .25;
}

.badge{
    background-color: $secondary;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.w-full{
    width: 100%;
}
